.modal-backdrop {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);

  display:flex;
  justify-content:center;
  align-items:center;
}


.modal-box {

  background:white;
  width:400px;
  padding:25px;
  border-radius:10px;

}


.modal-box h3 {
  margin-bottom:20px;
}


.modal-box li {
  margin:10px 0;
}
